*{
    background-color:white;
}

.container {
    background:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
#videoUpload {
    margin-bottom: 20px;
    color: chocolate;
}

#videoContainer video {
    width: 40px;
    max-width: 50px;
    margin-top: 20px;
}